libs
obj
gen
bin
doc
default.properties
local.properties
project.properties
tests/*$py.class
tests/build.xml
res/.DS_Store
bc-android.keystore
/gen
/gen
/jni
/libs
/obj
/submodules
/tests
/ant.properties
/build.xml
/custom_rules.xml
/default.properties
/deliver_sdk.sh
/keystore_hi2world
/keystore_sim2dial
/kkhanbuild.xml
/kkhanprojectconfig.xml
/lint.xml
/local.properties
/Makefile
/prepare_sources.sh
/proguard-project.txt
/project.properties
/README
/gen
/jni
/patches
