libs
obj
gen
bin
doc
tests/*$py.class
tests/build.xml
res/.DS_Store
bc-android.keystore
/gen
/gen
/jni
/obj
/tests
/build.xml
/custom_rules.xml
/deliver_sdk.sh
/keystore_hi2world
/keystore_sim2dial
/kkhanbuild.xml
/kkhanprojectconfig.xml
/Makefile
/prepare_sources.sh
/proguard-project.txt
/README
/gen
/jni
/patches
/submodules/
/lint.xml
/local.properties
/project.properties
/default.properties
/ant.properties
/.gitignore
